@media only screen and (max-height: 1600px) {
    .offer-call {
        margin-top: 200px;
    }
}

@media only screen and (max-height: 1000px) {
    .header-logo {
        margin-top: 25px;
    }

    .header h1 {
        margin-top: 55px;
        margin-bottom: 0;
    }

    .art-title {
        margin-top: 105px;
    }

    .con-title {
        margin-top: 55px;
    }

    .header-btn {
        margin-top: 55px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-height: 700px) {
    .con-row-1, .con-title {
        margin-top: 10px;
    }

    .offer-call {
        margin-top: 75px;
    }

    /*.index-container-1 .chemistry-item*/
    .header, #header-about, #header-prod, #header-chem, #section1, #header-art, #header-art-1, #header-art-2, #header-contacts, .index-container-1, .chemistry-item {
        min-height: 100vh;
        height: auto;
    }

    .header-menu {
        margin-top: 85px;
    }
}
А
@media screen and (max-width: 1640px) {
    .chemistry-header p {
        font-size: 16px;
        max-width: 500px;
    }
}

@media screen and (max-width: 1500px) {
    .header h1 {
        font-size: 45px;
        font-weight: bold;
    }
}

/*@media screen and (max-width: 1400px) {*/
    /*.index-container-1 .btn {*/
        /*margin-bottom: 17vh;*/
    /*}*/
/*}*/

@media screen and (max-width: 1320px) {
    .tabs__content-inform {
        width: calc(50% - 110px);
    }

    .tabs__content-photo {
        width: 50%;
    }

    .tab-block {
        /*max-height: 500px;*/
        height: 100%;
        min-height: 500px;
    }

    /**::-ms-backdrop, .tab-block {*/
        /*height: 500px;*/
    /*}*/

    /* IE11 */
}

@media screen and (max-width: 1200px) {
    .chemistry-item {
        padding-top: 180px;
    }
    .chemistry-item h3 {
        font-size: 36px;
    }

    .advantages-block {
        height: 200px;
        width: 350px;
    }

    .advantages-block h4 {
        /*margin-top: 50px;*/
        margin-top: 0px;
        font-size: 16px;
    }

    .index-form h2 {
        font-size: 28px;
    }

    .tabs__caption-main {
        display: none;
    }

    .tabs__caption-mobile {
        margin: 50px;
        font-size: 18px;
        color: #fff;
        background: #232323;
        height: 50px;
        padding-left: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 320px;
        outline: none;
        border-radius: 0;
        border: 0;
        text-transform: uppercase;
        position: relative;
    }
}

@media screen and (max-width: 1000px) {
    .chemistry-item {
       padding-top: 150px;
    }
    .chemistry-item h3 {
        font-size: 26px;
        max-width: 320px;
    }

    .chemistry-item p {
        margin: 55px auto 100px;
    }

    .footer-contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .footer-logo,
    .footer-adress,
    .footer-phone-email {
        margin-right: 0;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-adress,
    .footer-phone-email {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 950px) {
    .popup {
        max-width: 95%;
        width: 100%;
        left: 50%;
        margin-left: -47.5%;
    }

    .tabs__content-inform--text ul li,
    .tabs__content-inform--text p,
    .tabs__content-inform--text h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .tabs__content-photo {
        width: 100%;
        height: 350px;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .tabs__content-inform {
        width: calc(100% - 50px);
        height: auto;
        padding: 50px 25px 50px 25px;
    }

    *::-ms-backdrop, .tab-block {
        height: inherit;
    }

    /* IE11 */
    .tab-block {
        max-height: none;
        min-height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .tabs__content:nth-child(2n) .tab-block {
        flex-direction: column;
    }
}

@media (min-width: 801px) {
    .menutoggle {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header-logo {
        display: none;
    }

    .header-phone-adress__mobile {
        max-width: 155px;
        position: absolute;
        left: 0;
        top: 0;
        margin: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        color: white;
    }

    .header-phone-adress__mobile a,
    .header-phone-adress__mobile p {
        font-size: 14px !important;
        color: #fff;
        margin-top: 0 !important;
        text-align: left !important;
        width: 100% !important;
    }

    *::-ms-backdrop, .header-phone-adress__mobile p {
        width: 100%;
    }

    /* IE11 */
    .menutoggle {
        z-index: 6;
        display: inline-block;
        margin: 25px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .menutoggle #nav-icon3 span {
        background-color: #fff;
        height: 3px;
        width: 30px;
        top: 2px;
    }

    .header-menu {
        position: absolute;
        top: 0;
        right: -200px;
        margin: 0;
        float: none;
        width: 200px;
        text-align: left;
        z-index: 5;
        /*display: none;*/
        background: #303030;
        height: auto;
    }

    .header-menu ul {
        margin: 75px 0 50px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .header-menu ul li {
        position: relative;
        height: auto;
        margin: 0;
        width: 100%;
    }

    .submenu-header {
        margin: 0 !important;
        top: 0;
        position: inherit;
        height: auto;
        background-color: transparent;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    .submenu-header li a {
        color: #fff !important;
        font-size: 16px !important;
        padding: 0 15px !important;
        text-align: left;
        -webkit-transition: .2s linear;
        transition: .2s linear;
        background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(49%, #fff), color-stop(49%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) no-repeat;
        background: linear-gradient(to right, #fff 0%, #fff 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 100%) no-repeat;
        background-size: 210% 100%;
        background-position: right;
    }

    .submenu-header li a:hover {
        -webkit-animation: header-nav .4s;
        animation: header-nav .4s;
        color: #232323 !important;
        background-position: left;
    }

    .footer-menu {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .footer-menu ul li {
        margin: 5px;
        height: auto;
        line-height: normal;
        position: inherit;
    }

    .footer-menu ul li a,
    .submenu-footer li a {
        font-size: 14px !important;
    }

    .submenu-footer li a {
        margin: 5px;
        height: auto;
        line-height: normal;
    }

    .footer-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .submenu-footer {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        position: relative;
        top: 0;
        background-color: transparent;
        margin-top: 0 !important;
    }

    .footer-menu ul li a {
        background-color: transparent;
    }

    .submenu-footer li a {
        color: #fff !important;
    }

    .footer-menu:before {
        content: 'Меню';
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -34px;
        color: #fff;
        font-size: 22px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .footer-logo {
        display: none;
    }

    .footer-contacts:before {
        content: 'Контакты';
        position: relative;
        top: 0;
        margin: 25px 0;
        color: #fff;
        font-size: 22px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .footer-adress {
        margin-bottom: 0;
        margin-top: 25px;
    }

    .nav-active {
        background-color: transparent !important;
        color: #fff !important;
    }

    .footer-menu ul li a:hover {
        background-color: transparent !important;
        color: #fff !important;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .tabs__caption-mobile {
        width: 400px;
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .header h1 {
        margin-top: 207px;
        font-size: 20px;
        max-width: 470px;
        font-weight: bold;
    }

    .index-advantages h2 {
        font-size: 22px;
    }

    .header-btn {
        margin-top: 55px;
    }

    .chemistry-pipelines-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .chemistry-item {
        width: 100%;
        height: 100%;
        min-height: 400px;
    }


    .chemistry-item {
        padding-top: 75px;
    }
    .chemistry-item h3 {
        font-size: 18px;
    }

    .chemistry-item p {
        margin: 25px auto 45px;
    }

    .index-container-1 {
        height: auto;
    }

    /*.index-container-1 .btn {*/
        /*margin-bottom: 50px;*/
    /*}*/

    .advantages-content {
        width: 350px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-inputs-textarea {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-inputs,
    .form-textarea {
        width: 100%;
    }

    /*.form-inputs input:last-child {*/
    /*margin: 20px 20px 20px 20px;*/
    /*}*/
    .form-textarea textarea {
        width: 100%;

    }

    .form-inputs input[type="text"],
    .form-inputs input[type="tel"],
    .form-inputs input[type="email"] {
        font-size: 16px;
        width: 100%;
    }

    .index-form-btn {
        width: 100%;
        margin: 20px 0;
    }

    .popup .form-inputs {
        width: 100%;
    }

    /*.popup .form-inputs input[type="text"],*/
    /*.popup .form-inputs input[type="tel"],*/
    /*.popup .form-inputs input[type="email"] {*/
        /*width: calc(100% - 40px);*/
        /*margin: 10px 20px;*/
    /*}*/

    .popup .form-textarea {
        width: 100%;
        height: auto;
    }

    .popup .form-textarea textarea {
        height: calc(150px - 30px);
    }

    .popup .form-inputs-textarea {
        margin: 25px 0 30px 0;
    }

    .popup h3 {
        font-size: 35px;
    }

    .chemistry-header p {
        font-size: 14px;
    }

    /*CUSTOM STYLES*/
    .form-item-wrap {
        margin: 0;
    }

    .form-item {
        margin: 0;
        width: 100%;
    }

    /*CUSTOM STYLES*/

}

@media screen and (max-width: 550px) {
    .chemistry-header p {
        font-size: 12px;
        width: 80%;
        max-width: none;
    }

    .tabs__caption-mobile {
        width: 255px;
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .popup h3 {
        font-size: 25px;
    }

    .popup-close {
        margin: 10px;
    }
}

@media screen and (max-width: 450px) {
    .chemistry-item p {
        margin: 25px auto;
        font-size: 14px;
    }

    .chemistry-item h3 {
        max-width: 210px;
    }

    .footer-developer p {
        font-size: 13px;
    }

    *::-ms-backdrop, .popup-form-btn {
        padding: 0 20px;
    }

    /* IE11 */
}

@media screen and (max-width: 350px) {
    .advantages-content {
        width: 300px;
    }

    .advantages-block {
        height: 200px;
        width: 300px;
    }

    .index-form h2 {
        max-width: 310px;
    }

    .index-form-btn {
        padding: 0 20px;
    }
}

/*CUSTOM STYLES*/
@media(max-width: 800px) {
    .header-menu ul .menu-item-has-children > a {
        display: none;
    }

    .header-menu ul .menu-item-has-children .sub-menu {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
        transform: none
    }

    .header-menu > ul > li > ul > li > a {
        box-sizing: border-box;
        font-size: 16px !important;
        width: 100%;
        background: transparent;
        color: #fff !important;
        text-align: left;
        padding: 0 15px !important;
        white-space: normal;
    }
    .header-menu > ul > li > ul > li > a:hover {
        color: #232323 !important;
        background-position: left;
        background-size: 210% 100% !important;
        background-color: transparent !important;
        background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(49%, #fff), color-stop(49%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) no-repeat;
        background: linear-gradient(to right, #fff 0%, #fff 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 100%) no-repeat;
    }
}
/*CUSTOM STYLES*/
