* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body, html {
    overflow-x: hidden !important;
    margin: 0 auto;
    position: relative;
    cursor: default;
    font-family: LucidaSansUnicode, sans-serif;
    font-weight: normal;
    line-height: 1.4;
}

body {
    overflow: hidden;
}

h1 {
    letter-spacing: 1px;
}

@font-face {
    font-family: AgoraSansProBold;
    src: url(../fonts/AgoraSansProBold.ttf);
}

@font-face {
    font-family: AgoraSansProLight;
    src: url(../fonts/AgoraSansProLight.ttf);
}

@font-face {
    font-family: AgoraSansProMedium;
    src: url(../fonts/AgoraSansProMedium.ttf);
}

@font-face {
    font-family: AgoraSansProRegular;
    src: url(../fonts/AgoraSansProRegular.ttf);
}

@font-face {
    font-family: AgoraSansProThin;
    src: url(../fonts/AgoraSansProThin.ttf);
}

@font-face {
    font-family: LucidaSansUnicode;
    src: url(../fonts/LucidaSansUnicode.ttf);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text], input[type=submit], textarea {
    -webkit-appearance: none;
}

input {
    outline: none;
}

/*select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/
h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
}

.inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
}

@-webkit-keyframes header-nav {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes header-nav {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@-webkit-keyframes header-nav-back {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes header-nav-back {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@-webkit-keyframes loader {
    0% {
        border: 1000px solid #232323;
        height: 0px;
        width: 0%;
    }
    100% {
        border: 1px solid #232323;
        height: 10000px;
        width: 100%;
    }
}

@keyframes loader {
    0% {
        border: 1000px solid #232323;
        height: 0px;
        width: 0%;
    }
    100% {
        border: 1px solid #232323;
        height: 10000px;
        width: 100%;
    }
}

*::-ms-backdrop, .style {
    color: red
}

/* IE11 */

doesnotexist:-o-prefocus, .style {
    height: max-content;
    display: block;
    width: 100%;
}

/* Opera mini */

*::-ms-backdrop, .style {
    overflow: hidden;
}

/* IE 11*/

@-moz-document url-prefix() {
    .style {
        font-style: initial !important;
    }
    /* Mozilla */
}

doesnotexist:-o-prefocus, .style {
    overflow: hidden !important;
}

/* Opera mini */

_:-ms-fullscreen, :root .style {
    top: -50px;
    right: 12px;
}

/* IE 11*/

body:last-child:not(:root:root) .style {
    background: #F00;
}

/* для Safari < 4.0 */

html[xmlns*=""] body:last-child .style {
    background: #F00;
}

/* для Safari < 4.0 */

::i-block-chrome, .style {
    position: relative;
    bottom: 17px;
}

/* Safari */

.btn {
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 45px;
    height: 44px;
    line-height: 44px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: transparent;
}

.btn--white {
    color: #fff;
    border: 1px solid #fff;
}

.btn--gray {
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.btn--white:hover {
    color: #000;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.btn--gray:hover {
    color: #fff;
    background-color: #2a2a2a;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.header,
.index-container-1,
.index-advantages,
.index-form {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    height: auto;
}

/*========== header ==========*/

.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-bottom: 60px;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*.index-header {*/
/*background-image: url(../img/header-bg.png);*/
/*}*/
.chemistry-header {
    background-image: url(../img/header-chemistry.png);
}

.header-logo {
    width: 140px;
    height: auto;
    margin-top: 25px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/*.header-menu {*/
/*margin-top: 10vh;*/
/*}*/
.header h1 {
    margin-top: 10vh;
    color: #fff;
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 2px;
    max-width: 1000px;
    text-align: center;
    line-height: 1.3;
}
.header__description {
    margin-top: 75px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-size: 22px;
    text-align: center;
}
@media (max-width: 1500px) {
    .header__description {
        font-size: 16px;
    }
}

*::-ms-backdrop, .header h1 {
    width: 100%;
}

/* IE11 */
.header-btn {
    margin-top: 10vh;
}

.header-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-menu ul li {
    height: 80px;
    margin: 0 20px;
    line-height: 80px;
    position: relative;
}

.header-menu ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
}

/*.header-menu ul li a:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}*/
.header-menu > ul > li > a {
    -webkit-transition: .2s linear;
    transition: .2s linear;
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(49%, #fff), color-stop(49%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) no-repeat;
    background: linear-gradient(to right, #fff 0%, #fff 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 100%) no-repeat;
    background-size: 210% 100%;
    background-position: right;
}

.header-menu > ul > li > a:hover {
    -webkit-animation: header-nav .4s;
    animation: header-nav .4s;
    color: #232323;
    background-position: left;
}

.header-menu > ul > li > ul > li > a {
    float: left;
    font-size: 11px;
    color: #232323;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    background: -webkit-gradient(linear, left top, right top, from(#232323), color-stop(49%, #232323), color-stop(49%, #fff), to(#fff)) no-repeat;
    background: linear-gradient(to right, #232323 0%, #232323 49%, #fff 49%, #fff 100%) no-repeat;
    background-size: 210% 100%;
    background-position: right;
}

.header-menu > ul > li > ul > li > a:hover {
    -webkit-animation: header-nav .4s;
    animation: header-nav .4s;
    color: #fff;
    background-position: left;
}

.header-menu > ul > li > ul > li > a:not(:hover) {
    -webkit-animation: header-nav-back .4s;
    animation: header-nav-back .4s;
}

.header-menu > ul > li:hover > ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.header-menu > ul > li > ul {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 80px;
    left: 0;
    /*display: none;*/
    width: 100%;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.header-menu > ul > li > ul > li {
    height: inherit;
    margin: 0 !important;
    line-height: normal;
}

.header-menu > ul > li > ul > li > a {
    color: #000 !important;
    height: 80px;
    line-height: normal;
    font-size: 12px !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 5px !important;
}

.header-menu > ul > li > ul > li > a:hover {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff !important;
    background-color: #000 !important;
}

*::-ms-backdrop, .header-menu > ul > li > ul li a {
    width: calc(100% - 10px);
}

/* IE11 */
*::-ms-backdrop, .header-menu > ul > li > ul li {
    width: 100%;
}

/* IE11 */

/*CUSTOM STYLES*/
.header-menu {
    float: left;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
}

@media only screen and (max-height: 700px) {
    .header-menu {
        margin-top: 85px;
    }
}

/*CUSTOM STYLES*/

/*========== index-container-1 ==========*/

.chemistry-pipelines-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.chemistry-item {
    box-sizing: border-box;
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;

    padding: 20vh 0;
}
.chemistry-item__group {
    position: relative;
    z-index: 10;
}

.chemistry-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chemistry-item:hover:after {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

/*.chemistry-item {*/
/*background-image: url(../img/section-chemistry.png);*/
/*background-size: cover;*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*}*/
/*.pipelines-content {*/
/*background-image: url(../img/section-systems.png);*/
/*background-size: cover;*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*}*/
.chemistry-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.chemistry-item h3 {
    color: #fff;
    font-size: 46px;
    text-transform: uppercase;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.chemistry-item p {
    width: 80%;
    margin: 5vh auto 10vh;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 1;
}


.header-phone-adress__mobile {
    display: none;
}

.chemistry-btn,
.pipelines-btn {
    z-index: 1;
}

*::-ms-backdrop, .advantages-block h4 {
    width: 100%;
}

/* IE11 */
*::-ms-backdrop, .advantages-block p {
    width: calc(100% - 40px);
}

/* IE11 */

/*========== index-advantages ==========*/

.index-advantages {
    /*background-image: url(../img/advantage.png);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    /*margin-bottom: 300px;*/
}
.index-advantages__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.index-advantages h2 {
    padding-top: 200px;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
    max-width: 700px;
}

*::-ms-backdrop, .index-advantages h2 {
    width: 100%;
    max-width: 400px;
}

/* IE11 */
.index-advantages .advantages-content {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    bottom: -300px;
    margin-top: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages-block {
    position: relative;
    max-width: 550px;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.advantages-block__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.advantages-block:hover:after {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.advantages-block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 1;
}

.advantages-block:hover .advantages-block__photo {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.advantages-block__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.advantages-block h4 {
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 5px;
}

.advantages-block h3 {
    font-size: 24px;
    color: #ffffff;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.advantages-block p {
    z-index: 1;
    color: #fff;
    font-size: 15px;
    margin: 0 20px;
}

/*========== index-form ==========*/

.index-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*background-image: url(../img/bg-bottom.png);*/
    padding-top: 300px;
}
.index-form:before, .index-form:after {
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    width: 50%;
    z-index: -1;
}
.index-form:before {
    background: url('../img/form-bg-left.png');
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.index-form:after {
    background: url('../img/form-bg-right.png');
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
}

.index-form .advantages-content {
    margin-bottom: auto;
}

.index-form h2 {
    margin-top: 65px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 46px;
    color: #232323;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 550px;
}

*::-ms-backdrop, .index-form h2 {
    width: 100%;
}

/* IE11 */
.index-form .wpcf7, .section-about-form .wpcf7 {
    width: 80%;
}
.index-form .wpcf7 {
    max-width: 1100px;
}

.section-about-form .wpcf7 {
    margin: 0 auto;
}

.form-item .wpcf7-form-control-wrap {
    width: 100%;
}

.index-form form {
    /*width: 90%;*/
    margin-bottom: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-inputs-textarea {
    width: 100%;
    /*margin: 25px 5% 25px 5%;*/
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
}

.form-inputs {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.form-textarea {
    width: 50%;
    height: 100%;
    /*max-height: 320px;*/
}

.form-textarea textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    /*height: calc(100% - 30px);*/
    /*height: calc(320px - 30px);*/
    /*height: calc(245px - 32px);*/
    /*height: 268px;*/
    height: 218px;
    border: 2px solid #c2c2c2;
    outline: none;
    color: #766f6f;
    font-size: 16px;
    padding: 15px;
}

.form-inputs input[type="text"],
.form-inputs input[type="tel"],
.form-inputs input[type="email"] {
    box-sizing: border-box;
    color: #766f6f;
    font-size: 16px;
    outline: none;
    border: 2px solid #c2c2c2;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;

    height: 60px;
    padding: 20px 15px 5px;
}

.form-inputs .wpcf7-form-control-wrap:last-child input {
    margin-bottom: 0;
}

.form-item span.wpcf7-not-valid-tip {
    margin-bottom: 10px;
}

.form-item input.wpcf7-not-valid {
    margin-bottom: 10px;
}

.form-inputs input[type="text"]:focus,
.form-inputs input[type="tel"]:focus,
.form-inputs input[type="email"]:focus {
    color: #232323;
    border: 2px solid #232323;
}

.form-textarea textarea:focus {
    color: #232323;
    border: 2px solid #232323;
}

/*.form-inputs input:last-child {*/
/*margin: 20px 20px 0 20px;*/
/*}*/
.index-form-btn {
    box-sizing: border-box;
    font-size: 14px;
    /*margin-top: 25px;*/
    margin-top: 16px;
    padding: 0 65px;
    border-radius: 0;
    width: 100%;
    background-color: #2a2a2a;
    color: #fff;
    height: 60px;
    line-height: 60px;
}

.index-form {
    height: inherit;
}

@media (max-width: 1200px) {
    .index-form {
        padding-top: 200px;
    }
    /*.index-advantages {*/
    /*margin-bottom: 200px;*/
    /*}*/

    .index-advantages .advantages-content {
        max-width: 700px;
        bottom: -200px;
    }

    .advantages-block h3 {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .index-form:before, .index-form:after {
        background-size: cover;
    }
}

@media (max-width: 750px) {
    .index-form {
        padding-top: 400px;
    }
    /*.index-advantages {*/
    /*margin-bottom: 400px;*/
    /*}*/

    .index-advantages .advantages-content {
        bottom: -400px;
    }
}

/*CUSTOM STYLES*/
.form-item-wrap {
    margin: 0 -15px;
}
.contact-form-full .form-item{
    width: 100%;
}

.form-item {
    width: calc(50% - 30px);
    margin: 0 15px;
}

/*CUSTOM STYLES*/

/*========== footer ==========*/

.footer {
    width: 100%;
    padding: 35px 0;
    background: #232323;
    /*margin-top: 105px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-contacts {
    max-width: 1175px;
    width: calc(100% - 40px);
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-logo,
.footer-adress,
.footer-phone-email {
    margin-right: 20px;
}

.footer-logo {
    width: 140px;
    height: 85px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.footer-adress {
    max-width: 210px;
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
}

.footer-phone-email {
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-phone,
.footer-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-phone a,
.footer-email a {
    font-family: LucidaSansUnicode, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.3;
    color: #fff;
    cursor: pointer;
}

.footer-developer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-developer p {
    color: #fff;
    font-size: 15px;
    position: relative;
    margin-right: 31px;
}

.footer-developer p:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #fff;
    right: -15px;
    top: 50%;
    margin-top: -10px;
}

.footer-developer-link {
    width: 22px;
    height: 24px;
}

.footer-developer-link img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.footer-menu {
    margin-top: 20px;
}

.footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-menu ul li {
    height: 80px;
    margin: 0 20px;
    line-height: 80px;
    position: relative;
}

.footer-menu ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.footer-menu ul li a:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.footer-menu ul li ul {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    position: absolute;
    top: -158px;
    z-index: 1;
    width: 100%;
}

.footer-menu ul li ul li {
    height: inherit;
    margin: 0 !important;
    line-height: normal;
}

.footer-menu ul li ul li a {
    color: #000 !important;
    height: 80px;
    line-height: normal;
    font-size: 12px !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 5px !important;
}

.footer-menu ul li ul li a:hover {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff !important;
    background-color: #000 !important;
}

.footer-menu ul li:hover ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.nav-active {
    background-color: #fff !important;
    color: #232323 !important;
}

/*========== popup ==========*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.popup {
    max-width: 900px;
    width: 100%;
    left: 50%;
    margin-left: -450px;

    /*width: 100%;*/
    background-color: #fff;
    position: absolute;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.popup form {
    /*width: 90%;*/
    box-sizing: border-box;
    padding: 55px 20px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*.popup .form-inputs-textarea {*/
/*padding: 55px 20px;*/
/*width: 100%;*/
/*!*margin: 55px 0 25px 0;*!*/
/*margin: 55px 0 40px 0;*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*}*/
/*.popup .form-inputs {*/
/*width: 50%;*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
/*-webkit-box-align: start;*/
/*-ms-flex-align: start;*/
/*align-items: flex-start;*/
/*}*/
/*.popup .form-textarea {*/
/*width: 50%;*/
/*height: 320px;*/
/*}*/
/*.popup .form-textarea textarea {*/
/*width: calc(100% - 72px);*/
/*margin: 20px;*/
/*!*width: calc(80% - 30px);*!*/
/*!*height: calc(100% - 30px);*!*/
/*height: calc(71.7% - 30px);*/
/*outline: none;*/
/*color: #766f6f;*/
/*font-size: 16px;*/
/*padding: 15px;*/
/*}*/
/*.popup .form-inputs input[type="text"],*/
/*.popup .form-inputs input[type="tel"],*/
/*.popup .form-inputs input[type="email"] {*/
/*color: #766f6f;*/
/*padding-bottom: 3px;*/
/*font-size: 18px;*/
/*outline: none;*/
/*border: none;*/
/*margin: 20px;*/
/*border-bottom: 2px solid #c2c2c2;*/
/*background-color: transparent;*/
/*width: 80%;*/
/*}*/
/*.popup .form-inputs input[type="text"]:focus,*/
/*.popup .form-inputs input[type="tel"]:focus,*/
/*.popup .form-inputs input[type="email"]:focus {*/
/*color: #232323;*/
/*border-bottom: 1px solid #232323;*/
/*}*/
/*.popup .form-textarea textarea:focus {*/
/*color: #232323;*/
/*border: 1px solid #232323;*/
/*}*/
/*.popup .form-inputs input:last-child {*/
/*margin: 20px 20px 0 20px;*/
/*}*/
/*.popup-form-btn {*/
/*!*margin-top: 25px;*!*/
/*padding: 0 65px;*/
/*!* margin-bottom: 35px; *!*/
/*border-radius: 0;*/
/*!*width: 80%;*!*/
/*background-color: #2a2a2a;*/
/*color: #fff;*/

/*width: calc(100% - 40px);*/
/*margin: 0 20px;*/
/*}*/

.popup-form-btn {
    font-size: 14px;
    width: 100%;
    margin-top: 16px;
    height: 60px;
    line-height: 60px;
}

.popup-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 20px;
    z-index: 12;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

.popup h3 {
    margin: 65px 0 0 0;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #2a2a2a;
}

/*========== chemistry ==========*/

.chemistry-header p {
    margin-top: 75px;
    /*max-width: 500px;*/
    max-width: 1150px;
    color: #fff;
    width: 100%;
    font-size: 36px;
    text-align: center;
}

.chemistry-tabs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tabs__caption-main .active {
    background-color: black;
}

.tabs__caption-main .active span {
    color: white;
}

.tabs__caption {
    width: calc(100% - 40px);
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tabs__caption-btn {
    padding: 30px 20px;
    margin: 20px;
    width: 160px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tabs__caption-btn span {
    font-size: 16px;
    text-transform: uppercase;
    color: #232323;
}

.tabs__caption-btn:hover {
    background-color: #232323;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff;
}

tabs__content h2 {
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    text-align: left;
    margin: 5px 55px;
    text-transform: uppercase;
}

.tabs__caption-btn:hover span {
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.tabs__content:nth-child(2n) .tab-block {
    flex-direction: row-reverse;
}

.tabs-container {
    width: 100%;
}

.tabs__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



tabs__content h3 {

}

.tab-block {
    width: 100%;
    /*min-height: 450px;*/
    /*max-height: 450px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/**::-ms-backdrop, .tab-block {*/
    /*height: 450px;*/
/*}*/

/* IE11 */
.tab-block:nth-child(even) .tabs__content-photo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.tabs__content-inform {
    width: calc(40% - 110px);
    padding: 50px 55px 20px 55px;
    /*height: 450px;*/
    background-color: #232323;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;*/
}
.tabs__content-inform--text {
    margin-bottom: 20px;
}

*::-ms-backdrop, .tabs__content-inform {
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

/* IE11 */
/*.tabs__content-inform--text {
    margin: 100px 55px 20px 55px;
}*/
*::-ms-backdrop, .tabs__content-inform--text {
    width: 100%;
}

.tabs__content-inform--text h2 {
    font-size: 24px;
    margin-bottom: 25px;
}
.tabs__content-inform--text h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

.tabs__content-inform--text h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

.tabs__content-inform--text h5 {
    font-size: 18px;
    margin-bottom: 25px;
}

.tabs__content-inform--text h6 {
    font-size: 14px;
}

.tabs__content-inform--text ul {
    margin-bottom: 25px;
}

.tabs__content-inform--text ul li {
    font-size: 14px;
    position: relative;
    line-height: normal;
}

.tabs__content-inform--text ul li:before {
    /*content: '-';*/
    color: #fff;
    margin-right: 4px;
}

.tabs__content-inform--text p {
    font-size: 14px;
    /*margin-bottom: 25px;*/
    /*line-height: normal;*/
}

.tabs-inform__btn, .tabs-download__btn {
    height: 44px;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 0 15px;
    line-height: 44px;
    min-width: 206px;
    cursor: pointer;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
}

.tabs__content-photo {
    width: 60%;
    position: relative;
    overflow: hidden;
    /*height: 450px;*/
}

.tabs__content-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.tabs__content {
    display: none;
}

.tabs__content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tabs__content-photo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 1;
}

.tabs__content-photo:hover:after {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.tabs__content-photo:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.tabs__caption-mobile {
    display: none;
}

/*ABOUT PAGE*/
#header-about {
    height: 100%;
    background: url(../img/header-about.png) center center no-repeat;
    background-size: cover;
    position: relative;
}

.window-activity {
    float: left;
    width: 100%;
    background: #fff;
}

.section-activity {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-top: -15vh;
    margin-bottom: 100px;
}

.activity-image {
    float: left;
    width: 100%;
    position: relative;
}

.activity-image img {
    float: left;
    width: 100%;
}

.activity-start {
    position: absolute;
    top: 100px;
    left: -75px;
    width: 250px;
    background: #232323;
    color: #fff;
}

.activity-start .activity-start__year {
    margin: 85px 25px 2px 25px;
    font-size: 38px;
    text-align: left;
    color: #fff;
}

.activity-start p {
    color: #fff;
    font-size: 18px;
    margin: 2px 25px 85px 25px;
}

.activity-box:nth-child(odd), .activity-box:nth-child(even) {
    float: left;
    width: 50%;
    height: 240px;
    background: #fff;
    color: #232323;
}

.activity-box:nth-child(even) {
    text-align: left;
}

.activity-box:nth-child(odd) {
    text-align: right;
}

.activity-box:nth-child(odd) .activity-box__title {
    font-size: 38px;
    color: #232323;
    margin: 25px;
    text-align: right;
}

.activity-box:nth-child(even) .activity-box__title {
    font-size: 38px;
    color: #232323;
    margin: 25px;
    text-align: left;
}

.activity-box:nth-child(odd) p, .activity-box:nth-child(even) p {
    font-size: 16px;
    margin: 15px 25px 45px 25px;
}

.activity-box:nth-child(2) {
    float: left;
    width: 50%;
    height: 240px;
    background: #232323;
    color: #fff;
}

.activity-box:nth-child(2) .activity-box__title {
    font-size: 38px;
    color: #fff;
    margin: 25px;
    text-align: left;
}

.activity-box:nth-child(2) p {
    font-size: 16px;
    margin: 15px 25px 45px 25px;
}

@media only screen and (max-width: 1400px) {
    .section-activity {
        margin-top: -75px;
    }

    .activity-start {
        top: 100px;
    }

    /*.activity-start .activity-start__year {*/
    /*margin: 35px 5px 2px 5px;*/
    /*font-size: 24px;*/
    /*}*/
    /*.activity-start p {*/
    /*font-size: 15px;*/
    /*margin: 2px 5px 35px 5px;*/
    /*}*/
}

@media only screen and (max-width: 1200px) {
    .activity-start .activity-start__year {
        margin: 35px 5px 2px 5px;
        font-size: 24px;
    }

    .activity-start p {
        font-size: 15px;
        margin: 2px 5px 35px 5px;
    }
}

@media only screen and (max-width: 850px) {
    .activity-start {
        top: 25px;
        width: 100px;
    }

    .activity-start .activity-start__year {
        margin: 35px 5px 2px 5px;
        font-size: 18px;
    }

    .activity-start p {
        font-size: 13px;
        margin: 2px 5px 35px 5px;
    }
}

@media only screen and (max-width: 800px) {
    .activity-box:nth-child(odd) .activity-box__title, .activity-box:nth-child(even) .activity-box__title, .activity-box:nth-child(2) .activity-box__title {
        font-size: 17px;
    }

    .activity-box:nth-child(odd) p, .activity-box:nth-child(even) p, .activity-box:nth-child(2) p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px) {
    .section-activity {
        width: 90%;
        margin-left: 5%;
    }

    .activity-start {
        left: 0;
    }
}

@media only screen and (max-width: 550px) {
    .section-activity {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    .activity-box:nth-child(odd), .activity-box:nth-child(even), .activity-box:nth-child(2) {
        height: 350px;
    }

    .activity-box:nth-child(odd), .activity-box:nth-child(even), .activity-box:nth-child(2) {
        height: 350px;
    }

    .box-text__title {
        font-size: 22px;
    }

    .box-text__title {
        margin: 35px 10px 10px 10px;
    }

    .box-text p {
        margin: 10px;
    }

    .section-activity {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px) {
    .activity-start {
        top: 15px;
        width: 100px;
    }

    .activity-start .activity-start__year {
        margin: 15px 5px 2px 5px;
    }

    .activity-start p {
        font-size: 10px;
        margin: 2px 5px 15px 5px;
    }
}

/*SECTION WORK*/
.section-work {
    float: left;
    width: 100%;
    background: #fff;
    color: #fff;
}

.section-work h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #232323;
    text-align: center;
}

.box-img-reliability, .box-img-benefit, .box-img-partnership, .box-img-benefit-850 {
    float: left;
    width: 60%;
    height: 300px;
}
.box-img-reliability-wrap:nth-child(2n) .box-img-reliability {
    float: right;
}
.box-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-text {
    float: left;
    width: 40%;
    background: #232323;
    color: #fff;
    text-align: left;
    height: 300px;
}

.box-text p {
    margin: 25px 55px;
}

/*.box-img-reliability {*/
    /*background: url(../img/box-reliability.png) center center no-repeat;*/
    /*background-size: cover;*/
/*}*/

.box-img-benefit-850 {
    display: none;
}

.box-img-benefit, .box-img-benefit-850 {
    background: url(../img/box-benefit.png) center center no-repeat;
    background-size: cover;
}

.box-img-partnership {
    background: url(../img/box-partnership.png) center center no-repeat;
    background-size: cover;
}

.box-text__title {
    font-size: 38px;
    color: #fff;
    text-align: left;
    margin: 55px 55px 0 55px;
}

@media only screen and (max-width: 1320px) {
    .box-text, .box-img-reliability, .box-img-partnership, .box-img-benefit {
        width: 50%;
    }

    .box-prod {
        width: 50%;
        height: 500px;
    }
}

@media only screen and (max-width: 850px) {
    .box-text, .box-img-reliability, .box-img-partnership, .box-img-benefit-850 {
        width: 100%;
        height: 270px;
        float: left;
    }

    .box-img-benefit-850 {
        display: block;
    }

    .box-img-benefit {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .box-text__title {
        font-size: 22px;
        margin: 35px 10px 10px 10px;
    }

    .box-text p {
        margin: 10px;
    }
}

/*SECTION WORK*/

/*SECTION FORM*/
.section-about-form {
    background: #ffffff;
    margin-bottom: 50px;
}

.offer-title {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 45px;
}

.offer-title h2 {
    font-size: 46px;
    font-weight: 600;
    color: #232323;
}

@media only screen and (max-width: 1200px) {
    .offer-title h2 {
        font-size: 28px;
    }
}

/*SECTION FORM*/

/*ABOUT PAGE*/

/*CONTACT PAGE*/
/*.section-contacts {*/
    /*float: left;*/
    /*width: 100%;*/
    /*height: 850px;*/
    /*background: #fff;*/
    /*position: relative;*/
/*}*/

/*.mobile-map {*/
    /*display: none;*/
/*}*/

/*.section-contacts img {*/
    /*width: 90%;*/
    /*margin: 25px 5%;*/
/*}*/

.contact-form-full {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.contact-form {
    position: absolute;
    width: 500px;
    top: 100px;
    right: 10%;
    background: #fff;
    z-index: 11;
    display: none;
}

.map {
    position: relative;
    height: 800px;
}

@media(max-width: 1000px) {
    .section-contacts {
        height: auto;
    }
    .map {
        display: none;
    }
    .mobile-map {
        display: block;
    }
    .contact-form {
        width: 80%;
        margin-left: 10%;
    }
    .contact-form {
        position: static;
    }
}

/*CONTACT PAGE*/

/*ARTICLES PAGE*/
.section-articles {
    padding: 60px 0;
    float: left;
    width: 100%;
    background: #fff;
}

.article {
    margin: auto;
    width: 80%;
    height: auto;
    max-width: 1200px;
}
.article:last-child .art-text {
    margin-bottom: 0;
}

.art-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s linear;
}

.art-img-hover:hover {
    opacity: 0;
}

.art-date {
    position: absolute;
    bottom: 45px;
    left: 45px;
    color: #fff;
    width: 110px;
    height: 40px;
}

.art-date-1 {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: right;
    font-size: 34px;
}

.art-date-2, .art-date-3 {
    float: left;
    width: 60px;
    height: 20px;
    font-size: 14px;
    text-align: left;
}

.art-text {
    float: left;
    width: 100%;
    margin-bottom: 60px;
    background: #232323;
    color: #fff;
}

.art-text h1 {
    font-size: 25px;
    margin: 50px 50px 0;
    text-align: left;
    text-transform: uppercase;
}

.art-text p {
    margin: 50px 50px 0;
}

.art-more {
    width: 100%;
}

.art-more .button-order {
    float: right;
    margin: 50px 25px 50px 25px;
}

.button-order {
    cursor: pointer;
    display: inline-block;
    padding: 15px 75px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    transition: 0.2s linear;
}

.button-order:hover {
    background: #fff;
    color: #232323;
}

.article-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    /*margin-top: 75px;*/
    overflow: hidden;
    transition: .5s linear;
}

.article-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s linear;
}

.article-wrap:hover .article-image {
    transform: scale(1.15);
}

@media only screen and (max-width: 650px) {
    .article {
        width: 90%;
    }
}

/*ARTICLES PAGE*/

/*SINGLE ARTICLE*/
.new-article {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.in-row-1 {
    float: left;
    width: 30%;
}
.in-date {
    float: left;
    padding: 70px;
    width: 115px;
    background: #fff;
    color: #232323;
}
.in-date .art-date-1 {
    font-size: 40px;
}
.art-date-1 {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: right;
    font-size: 34px;
}
.in-date .art-date-2, .in-date .art-date-3 {
    font-size: 16px;
    margin-left: 5px;
}
.in-date .art-date-2 {
    margin-top: 5px;
}
.in-row-2 {
    float: left;
    width: 70%;
}
.in-title {
    float: left;
    width: 100%;
    background: #232323;
    color: #fff;
}
.in-title p {
    margin: 70px;
    font-size: 26px;
}
.in-text {
    float: left;
    width: 100%;
    background: #fff;
    color: #232323;
}
.in-text p {
    margin: 70px;
    font-size: 18px;
}


@media only screen and (max-width: 750px) {
    .in-row-1 {
        background: #232323;
        color: #fff;
    }
    .in-date {
        padding: 25px 50px 25px;
        background: #232323;
        color: #fff;
        width: 500px;
        height: 40px;
    }
    .in-date .art-date-1, .in-date .art-date-2, .in-date .art-date-3 {
        height: 40px;
        margin: 0 5px 0 0;
        width: auto;
        font-size: 18px;
        text-align: left;
    }
    .in-row-1, .in-row-2 {
        width: 100%;
    }
    .in-title p {
        margin: 25px 50px;
    }
    .in-text p {
        margin: 25px 50px;
    }
}

@media only screen and (max-width: 450px) {
    .in-date {
        padding: 20px;
    }
    .in-title p {
        margin: 20px;
    }
    .in-text p {
        margin: 20px;
    }
}

@media only screen and (max-width: 1400px) {
    .new-article {
        width: 100%;
    }
}
/*SINGLE ARTICLE*/


/*ANIMATE FORM INPUT*/
.field-item {
    width: 100%;
    position: relative;
    z-index: 1;
}
.field-item.focus .field-label{
    transform: translateY(-11px);
    font-size: 12px;
}
.field-item:not(:last-child) {
    margin-bottom: 20px;
}
.field-label {
    position: absolute;
    top: 20px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    left: 15px;
    color: #757575;
    transition: ease .2s;
}
/*ANIMATE FORM INPUT*/
.index-form .field-item {
    background: #fff;
}


/*PRELOADER*/
.loader-right {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 50;
}
.loader-left {
    top: 0;
    height: 100%;
    left: 0;
    position: fixed;
    width: 50%;
    z-index: 50;
}
.loader-right, .loader-left {
    background: none repeat scroll 0 0 #232323;
}
.loader_inner {
    background: #232323 url(../img/logo.png);
    background-size: cover;
    height: 84px;
    width: 139px;
    margin-top: -64px;
    margin-left: -64px;
    left: 50%;
    top: 50%;
    position: fixed;
    z-index: 51;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 0px;
    width: 0%;
    border: 0px solid #232323;
    background: rgba(0,0,0,0);
    background-size: cover;
    z-index: 50;
}
/*PRELOADER*/


/*CONTACT*/
.section-contacts .container {
    box-sizing: border-box;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px -10px;
}
.contact-list__item {
    margin: 0 10px;
    width: calc(50% - 20px);
}
.contact-item-list {
    border: 1px solid #ccc;
}
.contact-group {
    padding: 10px;
}
.contact-group:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.contact-city {
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-item {
    position: relative;
    padding: 5px 10px;
    padding-left: 60px;
}
.contact-icon {
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
}
.contact-icon img {
    width: 100%;
}

.contact-item__link {
    display: inline-block;
}

@media(max-width: 992px) {
    .contact-list__item {
        width: 100%;
        max-width: 600px;
    }
    .contact-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}
/*CONTACT*/
